@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Roboto:wght@400;700&display=swap');

:root {

    --charcoal-grey: #3e444e;
    --red: #e30613;
    --white: #ffffff;
}

@media (max-width: 600px){

    form {

        width: 75vw;
    }
}

@media (min-width: 600px){

    form {

        min-width: 30vw;
    }
}

.hidden {

    display: none;
}

body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--charcoal-grey);
}

form {

    border: 1.5px var(--charcoal-grey) solid;
    padding: 25px 10px;
    border-radius: 5px;
}

form, form header, form main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form header, form main, form footer {

    width: 100%;
}

.form-opcoes {

    width: 100%;
    background-color: #3e444e50;
}

.form-opcao {

    padding: 10px 5px;
}

.form-opcao:hover {

    opacity: 90%;
    cursor: pointer;
    background-color: #b1b1b1;
}

form header h1 {

    font-size: 2rem;
    margin-bottom: 25px;
    font-weight: 700;
}

form header p {

    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

form label {

    width: 100%;
    text-align: left;
    margin-top: 25px;
}

form input {

    width: 100%;
    border: none;
    border-bottom: 2px var(--charcoal-grey) solid;
    outline: none;
    overflow: hidden;
    margin-top: 3px;
    padding: 0px 0px 2px 2px;
    font-size: 1rem;
}

form input::placeholder {

    font-size: 0.8rem;
}

form button.verificar {

    background-color: #00b400;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    font-size: 1rem;
    color: var(--white);
    margin-top: 15px;
    cursor: pointer;
    transition: 0.5s;
}

form button.enviar {

    background-color: var(--red);
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    font-size: 1rem;
    color: var(--white);
    margin-top: 15px;
    cursor: pointer;
    transition: 0.5s;
}

form button:disabled {

    opacity: 60%;
    filter: brightness(70%);
    cursor: not-allowed;
}

form button:hover {

    filter: brightness(70%);
}